
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  font-family: "Open Sans", sans-serif;
}
*{margin:0px; padding:0px; box-sizing:border-box}

.cursor{
  cursor: pointer;
}
.bg-g,.bg-success{
  background: #3bb77e  !important;

}
.transition{
  transition: all 0.3s ease-in-out;
}
.text -g{
  color: #3bb77e;
}
.hd{
  font-size: 48px;
  font-weight:600 ;
  
}
.price{
  font-size: 20px;
  margin-right: 7px;
  color: #3bb77e;
  font-weight: bold;
}
.old-price{
  font-size: 15px;
  opacity: 0.4;
  color: black;
  text-decoration: line-through;
}